<% this.title = title %>
<% this.view = 'reader' %>

<% include header %>

<div class="mdui-drawer mdui-shadow-4" id="drawer">
  <ul class="mdui-list">
    <% archive.forEach((post) => { %>
      <li class="mdui-list-item mdui-ripple" onclick="load('<%= post.id %>')">
        <div class="mdui-list-item-content">
          <div class="mdui-list-item-title mdui-list-item-one-line"><%= post.title %></div>
          <div class="mdui-list-item-text mdui-list-item-two-line"><%= post.summary %></div>
          <div class="mdui-chip-group">
            <div class="mdui-chip">
              <span class="mdui-chip-icon mdui-color-theme-accent"><i class="mdui-icon material-icons">person</i></span>
              <span class="mdui-chip-title"><%= post.author %></span>
            </div>
            <div class="mdui-chip">
              <span class="mdui-chip-icon mdui-color-theme-accent"><i class="mdui-icon material-icons">date_range</i></span>
              <span class="mdui-chip-title"><%= utils.moment(post.time, 'x').format('YYYY-MM-DD HH:mm') %></span>
            </div>
            <a class="mdui-chip" href="<%= post.url %>" target="_blank">
              <span class="mdui-chip-icon mdui-color-theme-accent"><i class="mdui-icon material-icons">open_in_new</i></span>
            </a>
          </div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>

<div class="mdui-container">
  <% let post = utils.queryPost(currentPost) %>
  <div class="mdui-card">
    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title" id="postTitle"><%= post.title %></div>
      <div class="mdui-card-primary-subtitle"></div>
    </div>
    
    <div class="mdui-card-content mdui-typo" id="postContent">
      <%- post.content %> 
    </div>
    
    <!-- <div class="mdui-card-actions">
      <button class="mdui-btn mdui-ripple">action 1</button>
      <button class="mdui-btn mdui-ripple">action 2</button>
      <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
    </div> -->
  </div>
</div>

<% this.extendScripts = [ 'reader' ] %>
<% include footer %>